

body {
	font-family: Helvetica;
	background-color: #ffffff;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	text-align: center;
}

p {
	font-size: 30px;
}

input {
	width: 60%;
	padding: 10px;
	margin: 10px 10px 10px;
	border: 0;
	box-shadow: 0 0 15px 4px #7a7a7a;
}

input[type=text] {
	padding: 10px;
	border-radius: 10px;
}

select {
	width: 63%;
	padding: 10px;
	border-radius: 10px;
	margin: 10px 10px 10px;
}

button {
	/* remove default behavior */
	appearance: none;
	-webkit-appearance: none;
	/* usual styles */
	padding: 10px;
	border: none;
	background-color: #3F51B5;
	color: #fff;
	font-weight: 600;
	border-radius: 10px;
	width: 63%;
}

pre code {
	font-size: 18px;
	overflow-x: auto;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
	text-align: left;
	background-color: rgba(236, 236, 236, 0.801);
	border: 1px solid rgb(19, 8, 8);
	border-radius: 3px;
	display: block;
	padding: 20px;
}

